/*
=======================
Typography
=======================
*/

#answersLine {
    text-align: center;
}

/*
=======================
Body Styles
=======================
*/

.btn-center {
    justify-content: center;
    margin: 20px;
}

.main-heading {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

